[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=application/webapp
Actions=build;addcolorscheme;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=text-x-install

[Desktop Action build]
Name=Install
Name[it]=Installa
Icon=package-install
Exec=nativefier-freedesktop %f

[Desktop Action addcolorscheme]
Name=Add color scheme
Name[it]=Aggiungi schema di colore
Icon=list-add
Exec=bash -c 'mkdir .nf_temp; tar -zxvf "%f" -C .nf_temp && name=`cat .nf_temp/name`; cp `kdialog --getopenfilename ~/.local/share/color-schemes/ .colors` .nf_temp/; cd .nf_temp; tar -czvf a.tar.gz *; cp -f a.tar.gz "%f"; cd ..; rm -rf .nf_temp;'
