[Desktop Entry]
Name=a
Categories=Network;
Exec=~/.webapps/a/a
Icon=a
Path=
StartupNotify=true
Terminal=false
Type=Application
Version=1.0

Actions=in-browser;reinstall;uninstall;
[Desktop Action reinstall]

Name=Reinstall
Exec=kdialog --title Reinstall --warningyesno 'Are you sure?' && nativefier-freedesktop ~/.webapps/a/a.webapp
Icon=view-refresh

Name[it]=Reinstalla
Exec[it]=kdialog --title Reinstalla --warningyesno 'Sei sicuro?' && && nativefier-freedesktop ~/.webapps/a/a.webapp


[Desktop Action uninstall]

Name=Uninstall
Exec=kdialog --title Uninstall --warningyesno 'Are you sure?' && rm -rf ~/.webapps/a/ && rm -rf ~/.local/share/applications/a.desktop
Icon=edit-delete

Name[it]=Disinstalla
Exec[it]=kdialog --title Disinstalla --warningyesno 'Sei sicuro?' && rm -rf ~/.webapps/a/ && rm -rf ~/.local/share/applications/a.desktop

[Desktop Action in-browser]

Name=Open in the browser
Exec=xdg-open a
Icon=internet-web-browser
Name[it]=Apri nel browser

